
@{
    ViewData["Title"] = "ChatDetail";
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}
<div class="sidebar-group left-sidebar chat_sidebar">
    <div id="chats" class="left-sidebar-wrap sidebar active slimscroll">
        <div class="slimscroll">
            <div class="left-chat-title d-flex justify-content-between align-items-center">
                <div class="chat-title">
                    <h4>MESAJLAR</h4>
                </div>
            </div>
            <div class="search_chat has-search">
                <span class="fas fa-search form-control-feedback"></span>
                <input class="form-control chat_input" id="search-contacts" type="text" placeholder="Arama">
            </div>
            <div class="sidebar-body" id="chatsidebar">
                <div class="left-chat-title d-flex justify-content-between align-items-center ps-0 pe-0">
                    <div class="chat-title">
                        <h4>Sohbetler</h4>
                    </div>
                    <div class="add-section">
                        <a href="#"><i class="fas fa-edit"></i></a>
                    </div>
                </div>

                <ul class="user-list mt-2">
                    @{
                        string name = "";
                        foreach (var item in ViewBag.ListMessage)
                        {

                            if (item.AppUser.Name != name)
                            {
                                name = item.AppUser.Name;
                                <li class="user-list-item">
                                    <div class="avatar avatar-online">
                                        <img src="~/UserImage/@item.AppUser.ImageUrl" class="rounded-circle" alt="image">
                                    </div>
                                    <div class="users-list-body">
                                        <div>
                                            <a href="/Message/ChatDetail/@item.AppUserID"><h5>@item.AppUser.Name</h5></a>
                                        </div>
                                    </div>
                                </li>
                            }

                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="chat" id="middle">
    <div class="slimscroll">
        <div class="chat-header">
            <div class="user-details">
                <div class="d-lg-none ms-2">
                    <ul class="list-inline mt-2 me-2">
                        <li class="list-inline-item">
                            <a class="text-muted px-0 left_side" href="#" data-chat="open">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <figure class="avatar ms-1">
                        @{
                            string receiverPhoto = ViewBag.receiverPhoto;
                        <img src="~/UserImage/@receiverPhoto" class="rounded-circle dreams_chat" alt="image">
                        }
                </figure>
                <div class="mt-1">
                    <h5> @ViewBag.receiverName</h5>
                </div>
            </div>
            <div class="chat-options">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <a class="btn btn-outline-light no-bg" href="#" data-bs-toggle="dropdown">
                            <i class="fas fa-ellipsis-h"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <a href="#" class="dropdown-item">Delete <span><i class="far fa-trash-alt"></i></span></a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="chat-search">
                <form>
                    <span class="fas fa-search form-control-feedback"></span>
                    <input type="text" name="chat-search" placeholder="Search Chats" class="form-control">
                    <div class="close-btn-chat"><span class="material-icons">close</span></div>
                </form>
            </div>
        </div>
        <div class="chat-body">
            <div class="messages">            
                @{
                    foreach (var item in ViewBag.messages)
                    {
                        if (ViewBag.userID == item.AppUser.Id)
                        {
                            <div class="chats">
                                <div class="chat-content">
                                    <div class="chat-content">

                                        <div class="message-content">

                                            @item.MessageContent
                                            <div class="chat-time">
                                                <div>
                                                    <div class="time"><i class="fas fa-clock"></i> @item.Date</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="chat-avatar">
                                    @{
                                        string photo = ViewBag.UserPhoto;
                                        <img src="~/UserImage/@receiverPhoto" class="rounded-circle dreams_chat" alt="image">
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="chats chats-right">
                                <div class="chat-content">
                                    <div class="message-content">

                                        @item.MessageContent
                                        <div class="chat-time">
                                            <div>
                                                <div class="time"><i class="fas fa-clock"></i> @item.Date</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chat-profile-name text-end">
                                        <h6>Siz</h6>
                                    </div>
                                </div>
                                <div class="chat-avatar">
                                    @{
                                        string photo = ViewBag.UserPhoto;
                                        <img src="~/UserImage/@photo" class="rounded-circle dreams_chat" alt="image">
                                    }
                                </div>
                            </div>
                        }

                    }
                }
                
            </div>
        </div>
    </div>
    <div class="chat-footer">
        <form method="post" action="/Message/SendMessage">
            <input type="hidden" name="receiverID" value="@ViewBag.receiverID" />
            <input type="text" class="form-control chat_form" name="MessageContent" placeholder="Mesaj.....">
            <div class="form-buttons">
                <button class="btn send-btn" type="submit">
                    <span class="material-icons">send</span>
                </button>
            </div>
        </form>
    </div>
</div>

